<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AlumnoServlet</display-name>
    <servlet-name>AlumnoServlet</servlet-name>
    <servlet-class>servlets.AlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoServlet</servlet-name>
    <url-pattern>/AlumnoServlet</url-pattern>
  </servlet-mapping>
  <display-name>Biblioteca_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LibroServlet</display-name>
    <servlet-name>LibroServlet</servlet-name>
    <servlet-class>servlets.LibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibroServlet</servlet-name>
    <url-pattern>/LibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpleadoServlet</display-name>
    <servlet-name>EmpleadoServlet</servlet-name>
    <servlet-class>servlets.EmpleadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpleadoServlet</servlet-name>
    <url-pattern>/EmpleadoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrestamoServlet</display-name>
    <servlet-name>PrestamoServlet</servlet-name>
    <servlet-class>servlets.PrestamoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrestamoServlet</servlet-name>
    <url-pattern>/PrestamoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraLibroServlet</display-name>
    <servlet-name>CompraLibroServlet</servlet-name>
    <servlet-class>servlets.CompraLibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraLibroServlet</servlet-name>
    <url-pattern>/CompraLibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditorialServlet</display-name>
    <servlet-name>EditorialServlet</servlet-name>
    <servlet-class>servlets.EditorialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorialServlet</servlet-name>
    <url-pattern>/EditorialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>